# Basic Census Reporter API with Pandas

In [1]:
from censusreporter_api import *

In [2]:
df = get_dataframe(tables='B01001',geoids='040|01000US',column_names=True,level=1)

# Top 5 States by Total Population

In [3]:
df.sort('Total', ascending=False).head(5)

                 name     Total      Male    Female
04000US06  California  38332521  19072246  19260275
04000US48       Texas  26448193  13145494  13302699
04000US36    New York  19651127   9536179  10114948
04000US12     Florida  19552860   9565609   9987251
04000US17    Illinois  12882135   6326778   6555357

## Top 5 States in Midwest Region by % Female Population

In [4]:
df = get_dataframe(tables='B01001',geoids='040|02000US2',column_names=True,level=1)
df['pct_female'] = df['Female'] / df['Total']
df.sort('pct_female',ascending=False).head(5)

                   name     Total     Male   Female  pct_female
04000US47     Tennessee   6495978  3174148  3321830    0.511367
04000US42  Pennsylvania  12773801  6243308  6530493    0.511241
04000US39          Ohio  11570808  5658223  5912585    0.510992
04000US29      Missouri   6044171  2960402  3083769    0.510205
04000US26      Michigan   9895622  4858138  5037484    0.509062

## Top 5 Tennesse Counties by % Male Population

In [6]:
df = get_dataframe(tables='B01001',geoids='050|04000US47',column_names=True,level=1)
df['pct_male'] = df['Male'] / df['Total']
df.sort('pct_male',ascending=False).head(5)

                             name  Total   Male  Female  pct_male
05000US47095      Lake County, TN   7773   4897    2876  0.630001
05000US47129    Morgan County, TN  21964  12126    9838  0.552085
05000US47181     Wayne County, TN  16996   9370    7626  0.551306
05000US47069  Hardeman County, TN  26897  14670   12227  0.545414
05000US47007   Bledsoe County, TN  12853   6951    5902  0.540808