# Basic Census Reporter API with Pandas

In [1]:
from censusreporter_api import *

In [2]:
df = get_dataframe(column_names=True,level=1)

# Top 5 States by Total Population

In [3]:
df.sort('Total', ascending=False).head(5)

                 name     Total      Male    Female
04000US06  California  38332521  19072246  19260275
04000US48       Texas  26448193  13145494  13302699
04000US36    New York  19651127   9536179  10114948
04000US12     Florida  19552860   9565609   9987251
04000US17    Illinois  12882135   6326778   6555357

## Top 5 States by Female Population

In [4]:
df.sort('Female',ascending=False).head(5)

                 name     Total      Male    Female
04000US06  California  38332521  19072246  19260275
04000US48       Texas  26448193  13145494  13302699
04000US36    New York  19651127   9536179  10114948
04000US12     Florida  19552860   9565609   9987251
04000US17    Illinois  12882135   6326778   6555357

## Top 5 States by Male Population

In [5]:
df.sort('Male',ascending=False).head(5)

                 name     Total      Male    Female
04000US06  California  38332521  19072246  19260275
04000US48       Texas  26448193  13145494  13302699
04000US12     Florida  19552860   9565609   9987251
04000US36    New York  19651127   9536179  10114948
04000US17    Illinois  12882135   6326778   6555357