# Basic Census Reporter API with Pandas

In [1]:
from censusreporter_api import * # a few convenience methods elsewhere in this repo. Not a full pypi project at the moment

# Top 5 States by Total Population

In [2]:
df = get_dataframe(tables='B01001',geoids='040|01000US',column_names=True,level=1)
df.sort_values('Total', ascending=False).head(5)

                 name       Total        Male      Female
04000US06  California  39144818.0  19440558.0  19704260.0
04000US48       Texas  27469114.0  13625413.0  13843701.0
04000US12     Florida  20271272.0   9891238.0  10380034.0
04000US36    New York  19795791.0   9616592.0  10179199.0
04000US17    Illinois  12859995.0   6310435.0   6549560.0

## Top 5 States in Midwest Region by % Female Population

In [3]:
df = get_dataframe(tables='B01001',geoids='040|02000US2',column_names=True,level=1)
df['pct_female'] = df['Female'] / df['Total']
df.sort_values('pct_female',ascending=False).head(5)

                   name       Total       Male     Female  pct_female
04000US47     Tennessee   6600299.0  3214689.0  3385610.0    0.512948
04000US42  Pennsylvania  12802503.0  6262246.0  6540257.0    0.510858
04000US39          Ohio  11613423.0  5683951.0  5929472.0    0.510571
04000US29      Missouri   6083672.0  2983645.0  3100027.0    0.509565
04000US17      Illinois  12859995.0  6310435.0  6549560.0    0.509297

## Top 5 Tennessee Counties by % Male Population

In [4]:
df = get_dataframe(tables='B01001',geoids='050|04000US47',column_names=True,level=1)
df['pct_male'] = df['Male'] / df['Total']
df.sort_values('pct_male',ascending=False).head(5)

                             name    Total     Male   Female  pct_male
05000US47095      Lake County, TN   7687.0   4937.0   2750.0  0.642253
05000US47007   Bledsoe County, TN  13686.0   7677.0   6009.0  0.560938
05000US47129    Morgan County, TN  21794.0  12150.0   9644.0  0.557493
05000US47181     Wayne County, TN  16897.0   9295.0   7602.0  0.550098
05000US47069  Hardeman County, TN  26253.0  14297.0  11956.0  0.544585