Starting point:

<blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Q: In which Cuyahoga County community did Trump win the most votes?<br>A: Cleveland, followed by Parma &amp; Strongsville. <a href="https://t.co/awUAUFFAHt">pic.twitter.com/awUAUFFAHt</a></p>&mdash; Nick Castele (@NickCastele) <a href="https://twitter.com/NickCastele/status/769243584654696448">August 26, 2016</a></blockquote>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
<img src="https://pbs.twimg.com/media/Cqzl1SNWEAAJoRV.jpg">

I was curious about the *rate* of support, so I put together this notebook to work that out.

In [1]:
from censusreporter_api import get_dataframe, search_places
import pandas as pd

In [2]:
df = get_dataframe('b01003','160|05000US39035', include_moe=True)

In [3]:
df.sort_values(by='Total',ascending=False).head(10)

                                 name     Total  Total (error)
16000US3916000          Cleveland, OH  390584.0           47.0
16000US3961000              Parma, OH   80380.0           50.0
16000US3941664           Lakewood, OH   51155.0           28.0
16000US3925704             Euclid, OH   48105.0           39.0
16000US3916014  Cleveland Heights, OH   45388.0           46.0
16000US3975098       Strongsville, OH   44649.0           40.0
16000US3983622           Westlake, OH   32469.0           39.0
16000US3956882      North Olmsted, OH   32248.0           28.0
16000US3957008     North Royalton, OH   30321.0           27.0
16000US3929428   Garfield Heights, OH   28365.0           35.0

In [4]:
votes = pd.read_excel('cuyahoga_2012_votes.xls',sheetname=1)

In [5]:
sum_cols = list(votes)[2:9]
votes['total'] = votes[sum_cols].sum(axis=1)

In [6]:
votes['place'] = votes['Precinct'].apply(lambda x: x.split('-')[0])

In [7]:
new_cols = ['unity','precinct','soc','ind','con','lib','dem','rep','gre','write-in','over','under','total','place']
votes = votes.rename(columns=dict(zip(votes.columns,new_cols)))

In [8]:
by_place = votes[['place','dem','rep','total']].groupby(by='place').sum()

In [9]:
by_place['dem_pct'] = by_place['dem']/by_place['total']

In [10]:
by_place.sort_values(by='dem_pct',ascending=False)

                        dem    rep   total   dem_pct
place
HIGHLAND HILLS          412      2     416  0.990385
EAST CLEVELAND         8814    124    8959  0.983815
WARRENSVILLE HTS       7545    145    7705  0.979234
NORTH RANDALL           503     32     537  0.936685
LINNDALE                 29      2      31  0.935484
BEDFORD HEIGHTS        5671    421    6114  0.927543
WOODMERE                354     38     395  0.896203
MAPLE HEIGHTS         11023   1323   12404  0.888665
CLEVELAND            152262  18643  172240  0.884011
OAKWOOD                1882    244    2138  0.880262
CLEVELAND HEIGHTS     22116   4012   26379  0.838394
EUCLID                20064   4577   24865  0.806917
SHAKER HEIGHTS        14282   3354   17762  0.804076
SOUTH EUCLID           9513   2631   12233  0.777651
GARFIELD HEIGHTS      10266   3134   13551  0.757582
BEDFORD                5030   1556    6656  0.755709
RICHMOND HEIGHTS       4496   1461    5991  0.750459
GLENWILLOW              285    117     404  0.705446
LAKEWOOD              17356   7119   24928  0.696245
NEWBURGH HEIGHTS        507    219     735  0.689796
BEACHWOOD              4873   2315    7226  0.674370
UNIVERSITY HEIGHTS     4561   2169    6777  0.673012
ORANGE                 1391    764    2163  0.643088
BROOKLYN               3316   1787    5177  0.640525
BROOK PARK             5611   3138    8883  0.631656
BEREA                  5826   3530    9505  0.612941
MAYFIELD HEIGHTS       5631   3471    9188  0.612865
BRATENAHL               582    371     961  0.605619
PARMA HEIGHTS          5482   3638    9250  0.592649
CUYAHOGA HEIGHTS        196    146     345  0.568116
PARMA                 20942  15483   37001  0.565985
LYNDHURST              4795   3593    8489  0.564849
FAIRVIEW PARK          5291   4037    9470  0.558712
NORTH OLMSTED          9251   7613   17059  0.542294
SOLON                  7203   6094   13405  0.537337
BROOKLYN HEIGHTS        467    413     894  0.522371
PEPPER PIKE            2084   1908    4011  0.519571
OLMSTED FALLS          2386   2156    4610  0.517570
MIDDLEBURG HEIGHTS     4209   3943    8253  0.509996
OLMSTED TOWNSHIP       3467   3248    6814  0.508805
MORELAND HILLS         1090   1107    2217  0.491655
ROCKY RIVER            6005   6377   12499  0.480438
SEVEN HILLS            3306   3584    6987  0.473164
BAY VILLAGE            4596   5190    9905  0.464008
WALTON HILLS            674    790    1480  0.455405
CHAGRIN FALLS          1143   1363    2524  0.452853
VALLEY VIEW             593    715    1325  0.447547
STRONGSVILLE          11208  13700   25192  0.444903
WESTLAKE               8030  10068   18255  0.439879
MAYFIELD VILLAGE        871   1107    1999  0.435718
NORTH ROYALTON         6974   9041   16227  0.429778
BROADVIEW HEIGHTS      4545   6008   10662  0.426280
HIGHLAND HEIGHTS       2199   2989    5224  0.420942
INDEPENDENCE           1809   2639    4509  0.401198
BRECKSVILLE            3378   5142    8625  0.391652
GATES MILLS             546   1066    1627  0.335587
BENTLEYVILLE            202    428     631  0.320127
CHAGRIN FALLS TWP        29     63      92  0.315217
HUNTING VALLEY          101    312     416  0.242788

**Note (July 27, 2017)** I left this kind of half-done and now I'm not really motivated to finish the analysis, which I guess would be comparing pct democratic support change between 2012 and 2016. If someone wants to finish it up and make a pull request, go for it!